<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>group</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>


</head>
{{#if four}}

<body>
<div class="container">
    <div class="row" style="background-color:cyan">

        <h1 style="font-family: AppleMyungjo ;margin: auto; color: blue;" >Group</h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="group.png" alt="not found">


    </div>
</div>

<br>
<br>
<hr>
<hr>
<div class="container">


        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    {{#if arr.moneytogive}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-right"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr.name}}</h5>
                            <p class="card-text">Has to give {{arr.moneytogive}}</p>

                        </div>
                    {{else}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-left"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr.name}}</h5>
                            <p class="card-text">Has to take {{arr.moneytotake}}</p>

                        </div>

                    {{/if}}

                </div>

            </div>



            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    {{#if arr1.moneytogive}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-right"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr1.name}}</h5>
                            <p class="card-text">Has to give {{arr1.moneytogive}}</p>

                        </div>
                    {{else}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-left"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr1.name}}</h5>
                            <p class="card-text">Has to take {{arr1.moneytotake}}</p>

                        </div>

                    {{/if}}

                </div>

            </div>
        </div>
        <br>
        <br>
        <hr>
        <hr>

        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    {{#if arr2.moneytogive}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-right"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr2.name}}</h5>
                            <p class="card-text">Has to give {{arr2.moneytogive}}</p>

                        </div>
                    {{else}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-left"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr2.name}}</h5>
                            <p class="card-text">Has to take {{arr2.moneytotake}}</p>

                        </div>

                    {{/if}}

                </div>
            </div>




            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    {{#if arr3.moneytogive}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-right"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr3.name}}</h5>
                            <p class="card-text">Has to give {{arr3.moneytogive}}</p>

                        </div>
                    {{else}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-left"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr3.name}}</h5>
                            <p class="card-text">Has to take {{arr3.moneytotake}}</p>

                        </div>

                    {{/if}}

                </div>
            </div>
        </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>
        </body>
        </html>
{{/if}}
{{#if three}}
    <body>
    <div class="container">
        <div class="row" style="background-color:cyan">

            <h1 style="font-family: AppleMyungjo ;margin: auto; color: blue;" >Group</h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="group.png" alt="not found">


        </div>
    </div>

    <br>
    <br>
    <hr>
    <hr>
    <div class="container">


        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    {{#if arr.moneytogive}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-right"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr.name}}</h5>
                            <p class="card-text">Has to give {{arr.moneytogive}}</p>

                        </div>
                    {{else}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-left"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr.name}}</h5>
                            <p class="card-text">Has to take {{arr.moneytotake}}</p>

                        </div>

                    {{/if}}

                </div>

            </div>



            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    {{#if arr1.moneytogive}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-right"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr1.name}}</h5>
                            <p class="card-text">Has to give {{arr1.moneytogive}}</p>

                        </div>
                    {{else}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-left"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr1.name}}</h5>
                            <p class="card-text">Has to take {{arr1.moneytotake}}</p>

                        </div>

                    {{/if}}

                </div>

            </div>
        </div>
        <br>
        <br>
        <hr>
        <hr>

        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    {{#if arr2.moneytogive}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-right"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr2.name}}</h5>
                            <p class="card-text">Has to give {{arr2.moneytogive}}</p>

                        </div>
                    {{else}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-left"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr2.name}}</h5>
                            <p class="card-text">Has to take {{arr2.moneytotake}}</p>

                        </div>

                    {{/if}}

                </div>
            </div>
        </div>




    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>

{{/if}}

{{#if two}}


    <body>
    <div class="container">
        <div class="row" style="background-color:cyan">

            <h1 style="font-family: AppleMyungjo ;margin: auto; color: blue;" >Group</h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="group.png" alt="not found">


        </div>
    </div>

    <br>
    <br>
    <hr>
    <hr>
    <div class="container">


        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    {{#if arr.moneytogive}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-right"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr.name}}</h5>
                            <p class="card-text">Has to give {{arr.moneytogive}}</p>

                        </div>
                    {{else}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-left"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr.name}}</h5>
                            <p class="card-text">Has to take {{arr.moneytotake}}</p>

                        </div>

                    {{/if}}

                </div>

            </div>



            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    {{#if arr1.moneytogive}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-right"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr1.name}}</h5>
                            <p class="card-text">Has to give {{arr1.moneytogive}}</p>

                        </div>
                    {{else}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-left"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr1.name}}</h5>
                            <p class="card-text">Has to take {{arr1.moneytotake}}</p>

                        </div>

                    {{/if}}

                </div>

            </div>
        </div>
        <br>
        <br>
        <hr>
        <hr>





    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
    </html>
{{/if}}

{{#if one}}
    <body>
    <div class="container">
        <div class="row" style="background-color:cyan">

            <h1 style="font-family: AppleMyungjo ;margin: auto; color: blue;" >Group</h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="group.png" alt="not found">


        </div>
    </div>

    <br>
    <br>
    <hr>
    <hr>
    <div class="container">


        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    {{#if arr.moneytogive}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-right"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr.name}}</h5>
                            <p class="card-text">Has to give {{arr.moneytogive}}</p>

                        </div>
                    {{else}}
                        <i style="width: 200px; height: 200px;"class="fas fa-arrow-alt-circle-left"></i>
                        <div class="card-body">
                            <h5 class="card-title">{{arr.name}}</h5>
                            <p class="card-text">Has to take {{arr.moneytotake}}</p>

                        </div>

                    {{/if}}

                </div>

            </div>




        </div>
        <br>
        <br>
        <hr>
        <hr>





    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
{{/if}}


</html>








